{% extends 'base_logueado.html.twig' %}

{% block contenido %}
    <div class="row">
        <h1><i class="fa fa-user-o" aria-hidden="true"></i> Mis candidaturas</h1>    
    </div>


        {% for candidatura in candidaturas %}
            <div class="row">
                <div class="col-sm-6">
                    <label>Favor:</label>
                    {{candidatura.titulo}}
                </div>
                <div class="col-sm-6">
                    <label>Estado: </label>
                    {% if candidatura.elegido == app.user %}
                        <span class="alert-success"> Elegido</span>
                    {% else %}
                        <span class="alert-warning"> Candidato</span>
                        <a href="{{path('usuario_eliminarPostulacion',{ 'id': postulacion.id})}}" class="btn btn-xs btn-alert" >Despostularme</a>
                    {% endif %}

                </div>
                <br>
                Tu candidatura:
                <label>
                {% for candidato in candidatura.candidatos %}
                    {% if candidato.autor == usuario %}
                        {{candidato.comentario}}
                    {% endif %}
                {% endfor %}
                </label>
            </div>
        <br>
        <hr>
        {% else %}
            <div class="alert alert-info" role="alert">

                <p>Usted no posee postulaciones.</p>

            </div>
        {% endfor %}



{% endblock %}
