{% extends 'base_logueado.html.twig' %}

{% block body %}

    <h1>Bienvenido a la compra de creditos  </h1>


    <ul>
        <li>
            <a href="{{ path('usuario_index') }}">Back to the list</a>
        </li>

    </ul>
{% endblock %}
