{% extends 'base_logueado.html.twig' %}

{% block body %}
    <h1>Alta de categoría</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Crear" />
    {{ form_end(form) }}

{% endblock %}
