{% extends 'base_logueado.html.twig' %}

{% block contenido %}
    <h1><i class="fa fa-check" aria-hidden="true"></i> Alta de Calificación</h1>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-sm-12">
            {{form_row(form.descripcion, {'attr':{'class':'form-control'}})}}
        </div>
        <div class="col-sm-12">
            {{form_row(form.puntos, {'attr':{'class':'form-control'}})}}
        </div>
    </div>

    <br>
    <input type="submit" value="Crear" class="btn btn-block btn-success" />
    {{ form_end(form) }}

{% endblock %}