<!DOCTYPE html>
<html>
<head>
	<title>Una gauchada</title>
</head>
<body>

<p>Hola {{ nombreElejido }}, tu postulacion realizada en el favor: <strong>{{ titulo }}</strong> ha sido elegida!. 
	Por favor ponte en contacto con el autor del favor con el siguiente mail: {{ mailAutor }}</p>
<p>Atentamente, el equipo de Una gauchada!.</p>

</body>
</html>